# gitignore for frontend-development project
/htdocs/css/
/htdocs/img/gv/
/htdocs/login/css/

# general ignores
node_modules/
vendor/

# ignores from docker container
.bash_history
.cache/
.npm/
.v8flags*
.viminfo
