// Styles for compare-layouts -  special stylings for application pages

@import '../vars';

.app {
	.container {
		clear: both;
		margin: 0px auto @footer_height auto;
		max-width: 1400px;
		min-width: 1000px;
		width: 80%;

		.head {

			&:after {
				clear: both;
				content: '';
				display: block;
			}

			& > h1:first-child {
				margin-top: 0px;
			}
		}
	}

	img {
		border: 1px dotted #808080;
	}

	img:hover {
		border-color: #ffffff;
	}

	.error {
		h2 {
			color: #cc0000;
		}
	}
}

.buttonContainer {
	float: left;
}

.button {
	background-color: #ffbb00;
	border: 1px solid grey;
	border-radius: 4px;
	color: #000000;
	display: block;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 25px;
	padding: 5px 10px;
	text-decoration: none;
}

.success {
	color: #00bb00;
}

.fail {
	color: #dd0000;
}
