/* special element styling for documentation */
.command {
	background-color: #666666;
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 0px 3px;
	white-space: pre;
}

.console {
	background-color: #333333;
	color: #ffff99;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 0px 3px;
	white-space: pre;
}

.editor {
	background-color: #ffffcc;
	border: 1px solid grey;
	max-height: 300px;
	overflow: auto;
	padding: 0px 3px;
	white-space: pre;
}

.code {
	background-color: #ffffcc;
	font-family: 'Courier New', Courier, monospace;
	padding: 0px 3px;
	white-space: pre;
}

.hinweis {
	background-color: #cccccc;
	border: 1px solid grey;
	padding: 0px 3px;
}

.filename {
	background-color: #ffffcc;
}

.apt {
	background-color: #ffffcc;
	font-weight: bold;
}
