// Styles for compare-layouts - page layout and basic settings

@import "../vars.less";

body {
	background-color: #FFFFFF;
	border: 0px;
	color: #000000;
	font-family: @font_family;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

p, li, td, th, dt, dd {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
}

p {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
h1 {
	color: #000099;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 1.0em;
	margin-top: 1.0em;
}
h2 {
	color: #000099;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 0.8em;
	margin-top: 1.0em;
}
h3 {
	color: #000099;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.8em;
}
h4 {
	color: #000099;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
h5 {
	color: #000099;
	font-size: 1.0em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
ul {
	margin-bottom: 1em;
	margin-top: 0px;
}
ol {
	margin-bottom: 1em;
	margin-top: 0px;
}
li {
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0.5em 0px 0.8em 0px;
	padding: 0px;
}
th {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: top;
}
td {
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: top;
}
input {
	font-family: @font_family;
}
a {
	text-decoration: underline;
}

em {
	color: #000099;
	font-weight: bold;
	text-decoration: none;
}
strong, b {
	font-weight: bold;
}

img {
	border: 0px;
}
hr {
	background-color: #cccccc;
	clear: both;
	color: #cccccc;
	height: 1px;
	margin: 1em 0px 1em 0px;
	width: 100%;
}

div {
	margin: 0px;
	padding: 0px;
}

.clear {
	clear: both;
}

#container {
	margin: 0px auto;
	width: 800px;
}
