/*
 * login application styles
 */
@import url('https://fonts.googleapis.com/css?family=Signika:300,600');

@fontFamily: Signika, Verdana, sans-serif;
@fontSizeLarge: 16px;
@lineHeightLarge: 24px;
@fontSizeMedium: 14px;
@lineHeightMedium: 21px;

@viewport {
	width: device-width;
}

body {
	background-color: #f5f5f5;
	font-family: @fontFamily;
}

.form-small {
	padding-bottom: 40px;
	padding-top: 40px;

	h1,
	h2,
	h3 {
		margin-bottom: 20px;
		text-align: center;
	}

	.form-horizontal {
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
		border-radius: 5px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
		font-size: @fontSizeLarge;
		line-height: @lineHeightLarge;
		margin: 0px auto 20px;
		max-width: 600px;
		padding: 19px 29px 29px;
		width: 100%;

		[type='text'],
		[type='password'] {
			font-size: @fontSizeLarge;
			height: auto;
			margin-bottom: 5px;
			padding: 7px 9px;
		}

		.input-medium {
			width: 150px;
		}

		.input-large {
			width: 250px;
		}

		label {
			font-size: @fontSizeLarge;
			line-height: @lineHeightLarge;
		}

		.onlyText {
			.col-sm-3 control-label {
				padding-top: 0px;
			}
		}
	}

	div.form-horizontal {
		.form-group .col-sm-3 control-label {
			padding-top: 0px;
		}
	}
}

/* layout for specific pages */
.loginBody,
.loginBody .form-small {
	form {
		max-width: 500px;

		[type='text'],
		[type='email'],
		[type='password'] {
			width: 250px;
		}

		.checkbox {
			font-size: @fontSizeMedium;
			line-height: @lineHeightMedium;
			padding-bottom: 15px;
			padding-top: 10px;
		}
	}

	.newAccountLink {
		display: inline-block;
		text-align: center;
		width: 160px;
	}
}

.newAccountAccept {
	.col-sm-3 control-label,
	.col-sm-9 {
		padding-top: 0px;
	}

	.form-group {
		margin-bottom: 10px;
	}
}

a {
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
}

.mail {
	.head {
		.subject {
			font-weight: bold;
		}
	}

	.body {
		padding-top: 20px;
	}
}
